version: '3.8'

services:
  app:
    build: .
    ports:
      - "8090:8020"
    environment:
      JAVA_OPTS: ${JAVA_OPTS:-}
      SERVER_PORT: 8020
    restart: unless-stopped
    networks:
      - s-network

networks:
  s-network:
    driver: bridge