version: '3.8'

services:
  app:
    build: .
    container_name: portfolio
    ports:
      - "8090:8000"
    environment:
      - JAVA_OPTS=${JAVA_OPTS:-}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/actuator/health"]
      interval: 30s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - s-network

networks:
  s-network:
    driver: bridge